<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="pt.unl.fct.di.www.eat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Eat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.Checkout"></activity>
        <activity
            android:name=".ui.login.CartUser"
            android:label="Cart page"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ui.login.ListMenusUserExtra"
            android:label="Pick extra options"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ui.login.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.ListMenusCompany"
            android:label="Company Details"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ui.login.ListMenusUser"
            android:label="List of Menus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.login.List_restaurantsActivity"
           />
        <activity
            android:name=".ui.login.List_restaurantsActivity"
            android:label="Restaurant List"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.login.UserLoginActivity"/>
        <activity
            android:name=".ui.login.CompanyLoginActivity"
            android:label="Company Login"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ui.login.UserLoginActivity"
            android:label="Client Login"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ui.login.RegisterUser"
            android:label="Sign up client" />
        <activity android:name=".StartActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
    </application>

</manifest>