:root {
	font-family: Arial;
}
body {
	margin: 0;
	padding: 0;
	background-color: #333;
}
header {
	height: 10%;
	background-color: darkgrey;
	padding: 20px;
}
h1 {
	margin: 0;
}
nav {
	height: 5%;
	background-color: lightgrey;
	text-align: center;
	font-size: 18;
	padding: 5px;
}

nav p {
	padding: 0;
	margin: 0;
	height: 100%;
	vertical-align: middle;
	line-height: normal;
	display: inline-block;
}
main {
	height: 70%;
	width: 60%;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	align-content: stretch;
	margin: 0 20%;
	overflow-y: scroll;
}
footer {
	height: 5%;
	background-color: lightgrey;
	text-align: center;
	padding: 5px;
}
section {
	padding: 20px;
	background-color: #ddd;
	border-radius: 5px;
	margin: 10px;
	height: fit-content;
}
p {
	padding-left: 6px;
}

img {
	height: 200px;
	width: 340px;
	object-fit: cover;
}